<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Formulaire d'ajout d'une catégorie.</h2>
        <form th:action="@{/categorie/save}" method="post">
        <div class="Form-group">
            <label>Designation</label>
            <input type="text" class="Form-control" name="designation">
        </div>
        <button type="submit">Enregistrer</button>
        </form>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>