<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Approvisionnement</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Liste des Approvisonnemments</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Article</th>
            <th>Qte Appro</th>
            <th>Date création</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Appro:${Liste_Appro}">
            <td th:text="${Appro.id}"></td>
            <td th:text="${Appro.article.libelle}"></td>
            <td th:text="${Appro.qteAppro}"></td>
            <td th:text="${Appro.dateAppro}"></td>
            <td>
                <a th:href="@{/Appro/edite/{id}(id=${Appro.id})}">Editer | </a>
                <a th:href="@{/Appro/delete/{id}(id=${Appro.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>